- name: installing web server
  package:
    name: httpd
    state: present

- name: Copying the proxy file
  copy:
    src: proxy.conf 
    dest: /etc/httpd/conf.d/proxy.conf    

- name: download default index file
  get_url:
    url: "{{index_url}}"
    dest: /var/www/html/index.html   

- name: Start web service httpd
  service: 
    name: httpd
    state: started   
    enabled: yes   